# NOTE: this ansible configuration is just for enabling tests to run from inside
#       this repository. Do not use for other purposes.
[defaults]
inventory          = playbooks/site.yaml
filter_plugins     = playbooks/roles/data-utilities/filter_plugins
inventory_plugins  = playbooks/roles/data-utilities/inventory_plugins

[inventory]
enable_plugins = site_yaml

[site_yaml]
check_system_type = False