  # we need a line break at the beginning, to make sure this does not end up in
  # a comment. Putting a comment here worst case puts a comment into a comment.
  subnet {{dhcp_networks[vlan].subnets[subnet].subnet_network}} netmask {{dhcp_networks[vlan].subnets[subnet].subnet_netmask}} {
    option domain-name {{dhcp_networks[vlan].dhcp_domain_name}};
    option domain-search {{dhcp_networks[vlan].dhcp_domain_search}};

    {% if dhcp_networks[vlan].subnets[subnet].boot_options is defined %}
      {% for boot_option in dhcp_networks[vlan].subnets[subnet].boot_options %}
        {# TODO: add arch_conditional subkeys to build conditional boot structure #}
        {% if boot_option == "pxe" %}
        # PXE specific flags
          {% for option in dhcp_networks[vlan].subnets[subnet].boot_options.pxe %}
      {{option}};
          {% endfor %}
        {% elif boot_option == "http" %}
        # HTTP boot specific flags
          {% for option in dhcp_networks[vlan].subnets[subnet].boot_options.http %}
      {{option}};
          {% endfor %}
        {% else %}
  # unknown boot category: {{ boot_option }}
        {% endif %}
      {% endfor %}
    {% endif %}

    {% if dhcp_networks[vlan].subnets[subnet].options is defined %}
      {% for option in dhcp_networks[vlan].subnets[subnet].options %}
    {{option}};
      {% endfor %}
    {% endif %}
  } # end of subnet