shared-network {{vlan}} {
  {# loop over shared-network specific options #}
  {% if dhcp_networks[vlan].options is defined %}
   {% for option in dhcp_networks[vlan].options %}
  {{option}};
   {% endfor %}
  {% endif %}
  {# loop over the subnet definitions #}
  {% for subnet in dhcp_networks[vlan].subnets %}
    {% if site.name is defined and dhcp_networks[vlan].subnets[subnet].sites is defined %}
      {% if site.name in dhcp_networks[vlan].subnets[subnet].sites %}
        {% include "dhcp-subnet.j2" %}
      {% else %}
  # skipping subnet {{subnet}}, not in site {{site.name}}
      {% endif %}
    {% else %}
      {% include "dhcp-subnet.j2" %}
    {% endif %}
  {% endfor %}

  group {
{% for node in network_nodes %}
 {% if network_nodes[node].networks is defined %}
   {% for if_key in network_nodes[node].networks %}
     {% set iface = network_nodes[node].networks[if_key] %}
     {% if iface.dhcp_network is defined and iface.dhcp_network == vlan and iface.hwaddr is defined and iface.ipv4 is defined %}
       {% set iface_address = iface.ipv4 | ansible.utils.ipaddr('address') %}
       {% set dns_name = iface.dns_name | default(node + '.' + dns_domain) %}
    host {{dns_name}}.{{if_key}}{
          hardware ethernet {{iface.hwaddr}};
          fixed-address {{iface_address}};
         {% if iface.gateway is defined %}
          option routers {{iface.gateway}};
         {% endif %}
         {% if iface.dhcp_options is defined %}
           {% for option in iface.dhcp_options %}
          {{option}};
           {% endfor %}
         {% endif %}
    } # end of host
     {% endif %}
   {% endfor %}
 {% endif %}
{% endfor %}
  } # end of group
} # end of shared-network